fastapi
uvicorn[standard]
langgraph
langchain-openai
langchain-core
pydantic
pydantic-settings
redis
httpx
sqlmodel
psycopg2-binary
alembic
asyncpg
greenlet
docker
python-multipart
gTTS
mcp
pgvector
langchain-community
streamlit
pandas
sqlalchemy
python-telegram-bot
python-dotenv
aiosqlite

